            <script type="application/json" id="attachments-data">
        {{ (attachments|default([]))|tojson|safe }}
    </script>

            <script type="application/json" id="vehicle-data">
        {
            "vehicle_registration": {{ vehicle_registration|default('')|tojson }},
            "service_date": {{ service_date|default('')|tojson }},
            "claim_date": {{ claim_date|default('')|tojson }},
            "type_of_claim": {{ type_of_claim|default('')|tojson }},
            "vhc_link": {{ vhc_link|default('')|tojson }},
            "days_between_service_claim": {{ days_between_service_claim|default('')|tojson }},
            "advisories_followed": {{ 'true' if advisories_followed else 'false' }},
            "within_warranty": {{ 'true' if within_warranty else 'false' }},
            "new_fault_codes": {{ 'true' if new_fault_codes else 'false' }},
            "dpf_light_on": {{ 'true' if dpf_light_on else 'false' }},
            "eml_light_on": {{ 'true' if eml_light_on else 'false' }}
        }
    </script>
