<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AutoAssistGroup Support Ticket #{{ ticket.ticket_id }} - {{ (ticket.subject or 'No Subject')[:100] }}">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#4f46e5">
    <title>Ticket #{{ ticket.ticket_id }} - AutoAssistGroup Portal</title>

    <!-- External Resources -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" media="all">
    <link href="/static/css/animations.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    
    <!-- CSS Styles -->
    <style>
    {% include 'ticket_detail_parts/_styles.html' %}
    </style>
</head>

<!-- Body Start -->
{% include 'ticket_detail_parts/modals/_00_body_start.html' %}

<!-- Modals -->
{% include 'ticket_detail_parts/modals/_01_messageModal.html' %}
{% include 'ticket_detail_parts/modals/_02_confirmModal.html' %}
{% include 'ticket_detail_parts/modals/_03_forwardModal.html' %}
{% include 'ticket_detail_parts/modals/_04_noteModal.html' %}
{% include 'ticket_detail_parts/modals/_05_editTemplateModal.html' %}
{% include 'ticket_detail_parts/modals/_06_documentModal.html' %}
{% include 'ticket_detail_parts/modals/_07_vehicleClaimModal.html' %}
{% include 'ticket_detail_parts/modals/_08_assignModal.html' %}
{% include 'ticket_detail_parts/modals/_09_emailTemplateModal.html' %}

<!-- Main Content -->
{% include 'ticket_detail_parts/modals/_10_main_content.html' %}

<!-- JSON Data -->
{% include 'ticket_detail_parts/js/_01_json_attachments.html' %}
{% include 'ticket_detail_parts/js/_02_json_vehicle.html' %}
{% include 'ticket_detail_parts/js/_03_init_vars.html' %}
{% include 'ticket_detail_parts/js/_04_modal_funcs.html' %}
{% include 'ticket_detail_parts/js/_05_notes.html' %}
{% include 'ticket_detail_parts/js/_08_preview_funcs.html' %}
{% include 'ticket_detail_parts/js/_09_attachment_handlers.html' %}

</body>
</html>
